

header{
    color: white;
    background: rgb(5,187,233);
    margin:0px;
    margin-inline: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
    margin-right: 0px;
    padding: 15px;
    font-family: cursive;
}
.main{
    padding: 25px;
    padding-top: 30px;
    background:rgb(5, 187, 233);
    border: black;
    color: white;
    padding-inline: 5px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#mybt{
    color: black;
    background:white;
}
#output{
    color: white;
    background:rgb(5, 187, 233);
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2px;
}